@tailwind base;
@tailwind components;
@tailwind utilities;

.deleteButton {
    color: #ff2525;
}

.deleteButton:hover {
    color: darkred;
}

.editButton {
    color: #4092dd;
}

.editButton:hover {
    color: darkblue;
}
